body {
  background-color: #f1e0e1;
  font-family: monospace;
}

.red-back {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  opacity: 0.8;
  object-fit: cover;
  position: relative;
  z-index: 3;
}

.menu-links {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  z-index: 3;
  flex-wrap: nowrap;
  transform: translateY(25px);
}

.btn-home, .btn-project, .btn-contact {
  font-size: 25px;
  text-decoration: none;
  color: darkred;
  font-weight: bolder;
}

.btn-home:hover, .btn-project:hover, .btn-contact:hover {
  color: indianred;
}

.image-container {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.fire-image {
  display: block;
  opacity: 0.5;
  width: 100%;
  height: 500px;
  object-fit: cover;
  box-shadow: 2px 3px 30px darkred;
  margin-top: 54px;
  padding: 7px;
  border-radius: 5px;
}

.content-overlay {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  width: 90%; 
}

.face-image {
  width: 60%; 
  max-width: 400px;
  height: auto;
  object-fit: cover;
  z-index: 3;
  margin-top: 20px;
  border-radius: 10px;
}

h6 {
    margin-top: 60px;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}
.about-me {
  margin-top: 90px;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.intro, .about-me p {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  font-size: 1em;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .btn-home, .btn-project, .btn-contact {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  h1 {
    font-size: 1.5em;
  }

  .face-image {
    width: 80%;
  }

  .fire-image {
    height: auto;
    margin-top: 20px;
  }

  .intro {
    font-size: 0.95em; 
  }
}

@media screen and (max-width: 480px) {
  .btn-home, .btn-project, .btn-contact {
    font-size: 16px;
  }

  h6 {
    font-size: 16px;
    padding: 10px;
  }

  h1 {
    font-size: 1.3em;
  }

  .face-image {
    width: 90%; 
  }

  .fire-image {
    margin-top: 10px;
  }

  p {
    font-size: 0.9em;
  }
}


.footer {
  transform: translateY(50px);
}

.contact-footer {
  transform: translateY(255px);
}

.project-pic {
  height: 350px;
  width: auto;
  max-width: 100%;
  border: 2px solid white;
  box-shadow: 0.1px 0.1px 30px rgb(173, 132, 132);
}

.logo-pic {
  height: 157px;
  width: auto;
  object-fit: contain;
  border: 2px solid white;
  padding: 20px;
  border-radius: 250px;
  box-shadow: 0.5px 10px darkred;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .logo-pic {
    max-width: 80%; 
    height: auto;
  }
  
  .progress-bar {
    font-size: 14px; 
  }
}


.logo-pic:hover {

  filter: grayscale(0%);
}

.col-12 {
  margin: 20px 0;
}

@media screen and (max-width: 600px) {
  .logo-pic {
    height: 80px;
  }
}

.project-text {
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
}


.custom-progress {
  width: 100%;
  max-width: 900px; 
  background-color: #f5f5f5; 
  border-radius: 10px;
  height: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto; 
}

.custom-progress-bar {
  background-color: #684945; 
  font-weight: bold; 
  text-align: center; 
  line-height: 25px; 
  border-radius: 10px; 
  transition: width 0.5s ease;
}

.text-skills {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 145px;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  margin-bottom: 60px;
  margin-top: 57px;
}

.btn-home-contact {
  font-size: 25px;
  text-decoration: none;
  color: darkred;
  font-weight: bolder;
  transition: color 0.3s ease; 
  transform: translateY(-22px);
}

.btn-home-contact:hover {
  color: indianred; 
}

.custom-height {
  height: 50px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}
